@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}


.map-container-3d {
  overflow: hidden;
  background-color: #aed9e0; 
}

.leaflet-container {
  background: #aed9e0 !important;
  height: 100% !important; 
  width: 100% !important;
}

.leaflet-tile-pane {
  filter: saturate(1.5) contrast(1) hue-rotate(-10deg) brightness(1);
}

.leaflet-control-attribution {
  display: none;
}

@keyframes slideUp {
  from { transform: translateY(100%); opacity: 0; }
  to { transform: translateY(0); opacity: 1; }
}

.animate-slide-up {
  animation: slideUp 0.3s cubic-bezier(0.16, 1, 0.3, 1) forwards;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background: #000;
  overscroll-behavior: none;
}